.foto-historia {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.imagen-historia {
    width: 60%;
}

.texto3{
    color: #FFFFFF; 
    text-align: center;
    font-size: 1.5em;
    text-align: justify;  
}
