$color-letra: white;
$color-fondo: black;

.logo {
    display: inline;
    width: 4em;
    height: 4em;
}

.animacion-nav {
    height: 0.5em;
    transition: height 1s;
    &:hover {
        height: 0.5em;
        font-size: 3em;
    }
}

.titulo {
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:$color-letra;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.parallax {
    background-color: $color-fondo;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav-nuevo {
    background-image: linear-gradient($color-letra , $color-fondo);
}

li {
    a {
        text-decoration: none;
        color: $color-letra;
        text-transform: uppercase;
        font-size: 1.5em;
    }
}

.footer2 {
    display: flex;
    flex-direction: column;
    color: $color-letra;
}

.contactame {
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.iconos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1em;
}


.carousel {
    margin: 0 auto;
}

@mixin longi($width, $height) {
    width: $width;
    height: $height;
}

.boton-red {
    @include longi(6em, 2em);
    font-size: 1em ;
    justify-content: center;
    align-content: center ;
    border-radius: 20px;
    border: none;
    margin: 1em;
    background-color: #313131;
}

$redes-footer:(
    instagram: #FF9A0F,
    facebook: #3a5795,
    whatsapp: #00bb2d, 
    letra: #ffffff,

);

.btn-face {
    @extend .boton-red;
    color: map-get($redes-footer, facebook);
    text-decoration: none;
}

.btn-insta {
    @extend .btn-face;
    color: map-get($redes-footer, instagram);
}

.btn-whats {
    @extend .btn-face;
    color: map-get($redes-footer, whatsapp);
}
