$color-letra: white;
$color-fondo: black;

.logo {
    display: inline;
    width: 4em;
    height: 4em;
    &:hover {
        transition: 0.5s;
        transform: rotate(360deg);
    }
}

.animacion-nav {
    height: 0.5em;
    transition: height 0.6s;
    &:hover {
        transform: scale(1.2);
    }
}

.titulo {
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:$color-letra;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

.parallax {
    background-color: $color-fondo;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav-nuevo {
    background-image: linear-gradient($color-letra , $color-fondo);
}

li {
    a {
        text-decoration: none;
        color: $color-letra;
        text-transform: uppercase;
        font-size: 1.5em;
    }
}

.footer2 {
    display: flex;
    flex-direction: column;
    color: $color-letra;
    background-color: rgba(80, 80, 80, 0.24);
    margin-top: 2em;
}

.contactame {
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.iconos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1em;
}

.footer-redondo {
    border-radius: 4em;
}


.carousel {
    margin: 0 auto;

}

@mixin longi($width, $height) {
    width: $width;
    height: $height;
}