@import "index";
@import "historia";
@import "galeria";
@import "contacto";
@import "clientes";

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    .animacion-nav {
        margin: 0.5rem;
    }


    .texto3 {
        font-size: 2.5rem;
        margin: 1.5em;
    }

    .section-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .foto-galeria {
        margin-left: 1em;
    }


}

@media (max-width: 480px) {
    .header{
        flex-direction: column;
        align-items: center;
    }
    .nav {
        justify-content: center;
        margin-top: 1em;
    }

    .section {
        display: flex;
        flex-flow: column wrap;
    }

    .section-clientes {
        display: flex;
        flex-flow: column wrap;
    }

    .imagen-cliente {
        margin-left: 7rem;
        width: 80%;
        height: 80%;
    }

    .texto2 {
        font-size: 2rem;
    }
}
