.logo {
  display: inline;
  width: 4em;
  height: 4em; }

.animacion-nav {
  height: 0.5em;
  transition: height 1s; }
  .animacion-nav:hover {
    height: 0.5em;
    font-size: 3em; }

.titulo {
  font-size: 4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-align: center;
  padding: 10px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.parallax {
  background-color: black; }

.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end; }

.nav-nuevo {
  background-image: linear-gradient(white, black); }

li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em; }

.footer2 {
  display: flex;
  flex-direction: column;
  color: white; }

.contactame {
  text-align: center;
  font-size: 1em;
  margin-top: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.iconos-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1em; }

.carousel {
  margin: 0 auto; }

.boton-red, .btn-face, .btn-insta, .btn-whats {
  width: 6em;
  height: 2em;
  font-size: 1em;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  border: none;
  margin: 1em;
  background-color: #313131; }

.btn-face, .btn-insta, .btn-whats {
  color: #3a5795;
  text-decoration: none; }

.btn-insta {
  color: #FF9A0F; }

.btn-whats {
  color: #00bb2d; }

.foto-historia {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem; }

.imagen-historia {
  width: 60%; }

.texto3 {
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5em;
  text-align: justify; }

.foto-galeria {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.texto {
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em; }

.form-container {
  border-radius: 2rem;
  padding: 2rem;
  color: whitesmoke;
  margin-bottom: 1cm;
  border: 10px solid white;
  font-size: 20px;
  background: #222; }

.boton-enviar {
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  border: none;
  margin: 30px;
  background-color: #ffffff; }

.section-clientes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  margin: 0 auto; }

.contenedor-clientes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  text-align: center; }

.imagen-cliente {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1rem;
  width: 20em;
  height: 20em; }

.texto2 {
  display: grid;
  color: white;
  grid-column: 2 / 3;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
  align-content: center; }

.img-redonda {
  border-radius: 20rem;
  border: 0.5rem solid #666;
  justify-items: center;
  align-items: center; }

@media (max-width: 768px) {
  html {
    font-size: 50%; }
  .animacion-nav {
    margin: 0.5rem; }
  .texto3 {
    font-size: 2.5rem;
    margin: 1.5em; }
  .section-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .foto-galeria {
    margin-left: 1em; } }

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: center; }
  .nav {
    justify-content: center;
    margin-top: 1em; }
  .section {
    display: flex;
    flex-flow: column wrap; }
  .section-clientes {
    display: flex;
    flex-flow: column wrap; }
  .imagen-cliente {
    margin-left: 7rem;
    width: 80%;
    height: 80%; }
  .texto2 {
    font-size: 2rem; } }
